<%= render 'layouts/header' %>

<div class="aboutBox">
  <div id="story" class="text">
    
    <h2> Story </h2>
    <p>
      Pierre tends to check Berkeley <a href="http://events.berkeley.edu/index.php">events</a>                                                                                     pretty often, especially the Neuroscience and EECS calendars. He was getting tired of navigating to                                                                               a bunch of pages to see what was happening tomorrow. 
    </p>

    <p>
      He mentioned the clumsy events navigation to Luba. He said he had the same issue, 
      so together they decided to build a better website for Berkeley events.
    </p>

    <p>
      Soon after, Derrick saw the potential and usefulness of the site, and joined the team.
    </p>

    <p>
      The trio hopes to create a single one-stop website for all Berkeley events.
    </p>

    <p>
      Future features:
      <ul>
        <li> Include student organization events from Facebook </li>
        <li> Daily (opt-in) email feeds of interesting events </li>
        <li> Share links of events </li>
      </ul>
    </p>
  </div>

  <div id="team" class="row">
    <h2>Team</h2>

    <div id="pierre" class="col-md-4">
      <%= image_tag("pierre-small.png", width: '150', height: '150', :class => "img")%>

      <p class="name">
        <strong>Pierre Karashchuk</strong>
        <br/>
        The Hacker
      </p>
    </div>


    <div id="luba" class="col-md-4">
      <%= image_tag("luba-small.png", width: '150', height: '150', :class=> "img")%>

      <p class="name">
        <strong>Luvsanbyamba "Luba" Buyankhuu</strong>
        <br/>
        The Inventor
      </p>

    </div>


    <div id="derrick" class="col-md-4">
      <%= image_tag("derrick-small.png", width: '150', height: '150', :class=>"img")%>

      <p class="name">
        <strong>Derrick Mar</strong>
        <br/>
        The Enterpreneur
      </p>
    </div>
  </div>

  <div id="contact" class="text">
    <h2> Contact </h2>

    <p>
      Email us questions, comments, bugs, suggestions, events, or anything interesting at:
      <strong><a href="mailto:ucbplan@gmail.com">ucbplan@gmail.com</a><strong>
    </p>
  </div>

  <div id="credits" class="text">
    <h2> Credits </h2>
    <ul>
      <li> <%= image_tag "icons/outlink.png", width: 18, height: 18 %>
        <a href="http://thenounproject.com/term/external-link/25402">External link</a>
        icon by José Campos </li>
      <li> <%= image_tag "icons/calendar.png", width: 18, height: 18 %>
        <a href="http://thenounproject.com/term/calendar/2773">Calendar</a>
        icon by P.J. Onori </li>
      <li> <%= image_tag "icons/sms.png", width: 18, height: 18 %>
        <a href="http://thenounproject.com/term/message/16033">Message</a>
        icon by Benni </li>
      <li> <%= image_tag "icons/email.png", width: 18, height: 14 %>
        <a href="http://thenounproject.com/term/message/429">Mail</a>
        icon by Edward Boatman </li>
    </ul>
  </div>

</div> 

