<%= render 'layouts/header' %>

<div class="content">
  <% if false %>
  <%= render 'filter' %>
  <% end %>

  <div class="col-md-6 eventColumn">
    <span id="today">
      <%= @left_name %>
    </span>

    <div class="eventList">

      <% for el in @events_today %>
      <% e = el[0] %>
      
      <% if not @user.blank? %>
      <% f = el.map {|x| @favorites[x.id]}.find{|x| not x.blank?} %>
      <% f ||= FavoriteEvent.new(event_id: e.id, user_id: @user.id) %>
      <% end %>

      <li>
        <% if @user.blank? %>
        <div class="bigEvent" style="<%= big_event_style(e) %>" >
          <% else %>
          
          <div class="bigEvent" style="<%= big_event_style(e) %>"
               data-ids="<%= el.map(&:id) %>"
               data-email="<%= f.email || false %>"
               data-sms="<%= f.sms || false %>" >

            <% if false %>
          </div>
          <% end %>
          
          <% end %>

          <div class="topright">

            <a class="outLink linkIcon Hidden"
               href="<%= e.url %>"
               title="External link to event"
               target="_blank"></a>

            <a class="gcalLink
                      linkIcon Hidden"
               href="<%= gcal_link(e) %>"
               title="Add to Google Calendar"
               target="_blank"></a>

            <% if not @user.blank? %>
            <a class="<%= if f.sms then 'smsLinkChosen' else 'smsLink' end %>
                      linkIcon Hidden"
               title="Remind me by SMS"></a>
            
            <a class="<%= if f.email then 'emailLinkChosen' else 'emailLink' end %>
                      linkIcon Hidden"
               title="Remind me by email"></a>
            <% end %>
            
          </div>


          
          <span class="tagger" style="background-color: <%= @gcols[e.group_id] %>;">
            <%= el.map { |x| @gnames[x.group_id] }.uniq.join(' / ') %>
          </span>


          <a class="eventTitle" href="<%= show_event_path(e.id) %>">
            <%= CGI.unescapeHTML(e.title) %>
          </a>
          
          <div class="dateloc">
            <span class="date"> 
              <%= e.start_at.strftime('%I:%M %P') %> &#8212;
              <%= e.end_at.strftime('%I:%M %P')  %>
            </span>

            <% if e.location.length >= StaticPagesHelper::LOCATION_CUTOFF %>
            <br/> 
            <% end %>

            <div class="loc"
                 style="<%= 'float: right;' \
                        if e.location.length < StaticPagesHelper::LOCATION_CUTOFF %>">
              <%= e.location  %>
            </div>

            
            <% if not e.description.blank? %>
            <div class="desc ellipsis">
              <div class="descShort">
                <span class="descLink">Description:</span>
                <%= e.description[0..200] %>
              </div>

              <div class="descLong Hidden">
                <span class="descLink">Description:</span>
                <a class="descLong hideDesc Hidden">Hide description</a>
                <%= simple_format(e.description.strip, {}, wrapper_tag: "p") %>
              </div>
            </div>
            <% end %>

          </div>
        </div>
      </li>
      <% end %>
    </div>
  </div>


  <div class="col-md-6 eventColumn" >

    <span id="upcoming">
      Upcoming
    </span>

    <div class="eventList" id="upcomingList">

      <% for el in @events_upcoming %>
      <% e = el[0] %>

      <% if not @user.blank? %>
      <% f = el.map {|x| @favorites[x.id]}.find{|x| not x.blank?} %>
      <% f ||= FavoriteEvent.new(event_id: e.id, user_id: @user.id) %>
      <% end %>

      <li>
        <% if @user.blank? %>
        <div class="bigEvent" style="<%= big_event_style(e) %>" >
          <% else %>
          
          <div class="bigEvent" style="<%= big_event_style(e) %>"
               data-ids="<%= el.map(&:id) %>"
               data-email="<%= f.email || false %>"
               data-sms="<%= f.sms || false %>" >

            <% if false %>
          </div>
          <% end %>
          
          <% end %>

          <div class="topright">

            <a class="outLink linkIcon Hidden"
               href="<%= e.url %>"
               title="External link to event"
               target="_blank"></a>

            <a class="gcalLink
                      linkIcon Hidden"
               href="<%= gcal_link(e) %>"
               title="Add to Google Calendar"
               target="_blank"></a>

            <% if not @user.blank? %>
            <a class="<%= if f.sms then 'smsLinkChosen' else 'smsLink' end %>
                      linkIcon Hidden"
               title="Remind me by SMS"></a>
            
            <a class="<%= if f.email then 'emailLinkChosen' else 'emailLink' end %>
                      linkIcon Hidden"
               title="Remind me by email"></a>
            <% end %>
            
          </div>
          
          <span class="tagger" style="background-color: <%= @gcols[e.group_id] %>;">
            <%= el.map { |x| @gnames[x.group_id] }.uniq.join(' / ') %>
          </span>

          <a class="eventTitle" href="<%= show_event_path(e.id) %>">
            <%= CGI.unescapeHTML(e.title) %>
          </a>

          <div class="dateloc">
            <span class="date"> 
              <%= e.start_at.strftime('%a %b %e | %I:%M %P') %> &#8212;
              <%= e.end_at.strftime('%I:%M %P') %>
            </span>

            <% if e.location.length >= StaticPagesHelper::LOCATION_CUTOFF %>
            <br/>
            <% end %>

            <div class="loc"
                 style="<%= 'float: right;' \
                        if e.location.length < StaticPagesHelper::LOCATION_CUTOFF %>">
              <%= e.location  %>
            </div>

            <% if not e.description.blank? %>
            <div class="desc ellipsis">
              <div class="descShort">
                <span class="descLink">Description:</span>
                <%= e.description[0..200] %>
              </div>

              <div class="descLong Hidden">
                <span class="descLink">Description:</span>
                <a class="descLong hideDesc Hidden">Hide description</a>
                <%= simple_format(e.description.strip, {}, wrapper_tag: "p") %>
              </div>
            </div>
            <% end %>

          </div>
        </div>
      </li>
      <% end %>

      <% if false %>
      <%= will_paginate @events_upcoming, :renderer => WillPaginate::ActionView::LinkRenderer %>
      <% end %>
    </div>
  </div>
</div>

<div id="loadingDiv" class="Hidden">
</div>
