<%= render 'layouts/header' %>

<div class="ReminderBox">
  <div class="eventColumn" >

    <span>
      Reminders
    </span>

    <div class="eventList" id="upcomingList">

      <% for e, f in @events %>

      <li>
        <div class="bigEvent" style="<%= big_event_style(e) %>"
             data-ids="<%= e.id %>"
             data-cal="<%= f.gcal || false %>"
             data-email="<%= f.email || false %>"
             data-sms="<%= f.sms || false %>" >


          <% if not @user.blank? %>
          <div class="topright">
            <a class="gcalLink
                      linkIcon Hidden"
               href="<%= gcal_link(e) %>"
               title="Add to Google Calendar" ></a>

            <a class="<%= if f.sms then 'smsLinkChosen' else 'smsLink' end %>
                      linkIcon Hidden"
               title="Remind me by SMS"></a>
            
            <a class="<%= if f.email then 'emailLinkChosen' else 'emailLink' end %>
                      linkIcon Hidden"
               title="Remind me by Email"></a>
            
          </div>
          <% end %>
          
          <span class="tagger" style="background-color: <%= @gcols[e.group_id] %>;">
            <%= @gnames[e.group_id] %>
          </span>

          <div class="events"><%= CGI.unescapeHTML(e.title) %></div>
          <div class="dateloc">
            <span class="date"> 
              <%= e.start_at.strftime('%a %b %e | %I:%M %P') %> &#8212;
              <%= e.end_at.strftime('%I:%M %P') %>
            </span>

            <% if e.location.length >= StaticPagesHelper::LOCATION_CUTOFF %>
            <br/>
            <% end %>

            <div class="loc"
                 style="<%= 'float: right;' \
                        if e.location.length < StaticPagesHelper::LOCATION_CUTOFF %>">
              <%= e.location  %>
            </div>

            <% if not e.description.blank? %>
            <div class="desc ellipsis">
              <span class="eventColon">Description:</span>
              <%= simple_format(e.description, {}, wrapper_tag: "span") %>
            </div>
            <% end %>

          </div>
        </div>
      </li>
      <% end %>

      <% if false %>
      <%= will_paginate @events_upcoming, :renderer => WillPaginate::ActionView::LinkRenderer %>
      <% end %>
    </div>
  </div>

</div>  