<%= render 'layouts/header' %>


<div class="GroupBox">

  <h1> Subscriptions </h1>

  <p> Choose which events will appear on your front page </p>

  <div id="formError" class="alert alert-danger Hidden">
    <% # rendered using react (via signup.js) %>
  </div>


  <div id="formSuccess" class="alert alert-success Hidden">
    <% # rendered using react (via signup.js) %>
  </div>

  
  <div class="GroupList">
    <%= form_tag(update_groups_path, id: 'updateGroupsForm') do %>
    
    <% for g in Group.order(:name) %>

    <div class="Group" id="group<%= g.id %>">
      <%= check_box_tag "group_ids[]", g.id %>
      
      <span class="GroupName"  style="<%= group_style(g) %>">
        <%= g.name %>
      </span>
    </div>
    
    <% end %>

    <% end %>
    
  </div>
  
  <%= button_tag "Save", class: "btn btn-large btn-primary", id: "saveGroups" %>
</div>  