<div id="title">
  <a id="bplan" href='/'>
	ucbplan
  </a>
  <!-- <span id="see"> -->
  <!-- See all events at one place -->
  <!-- </span> -->
  <span id="rightLinks">
    <%= link_to "about", about_path %>
    <% if logged_in? %>
    <%= link_to "groups", groups_path, id: 'groupsLink' %>
    <%= link_to "logout", logout_path %>
    <% else %>
    <%= link_to "signup", signup_path, id: 'signupLink' %>
    <%= link_to "login", login_path, id: 'loginLink' %>
    <% end %>
  </span>
</div>
