<div class='Signup' id='signup'>

  <div id="formError" class="alert alert-danger Hidden">
    <% # rendered using react (via signup.js) %>
  </div>


  <div id="formSuccess" class="alert alert-success Hidden">
    <% # rendered using react (via signup.js) %>
  </div>
  

  <%= form_for @user, html: { id: 'userSignupForm' } do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <br />
  <%= f.email_field :email, placeholder: "Email" %> <br />
  <%= f.password_field :password, placeholder: "Password" %>
  <br />
  <%= f.password_field :password_confirmation, placeholder: "Confirmation" %>
  <% end %>

  <%= button_tag "Go!", class: "btn btn-large btn-primary", id: "joinButton" %>

</div> 