<div class='Login' id='login'>

  <div id="formError" class="alert alert-danger Hidden">
    <% # rendered using react (via signup.js) %>
  </div>


  <div id="formSuccess" class="alert alert-success Hidden">
    <% # rendered using react (via signup.js) %>
  </div>
  
  <%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :email %>
  <%= f.email_field :email, placeholder: "Username" %>
  <br />
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "Password" %>
  <br />
  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Sign up!", class: "btn btn-large btn-primary" %>
  <% end %>
</div>