<!DOCTYPE html>
<html>
  <head>
    <title>ucbplan</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,600italic'
           rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>
  </body>
</html>
